fastapi
uvicorn
python-dotenv
requests
numpy

google-generativeai
langchain-google-genai
sentence-transformers

qdrant-client

unstructured>=0.24.1
python-pptx
python-docx
pypdf
beautifulsoup4
pdfplumber

logfire[fastapi,requests]
loguru
portkey-ai
langchain-openai
langchain-groq
nemoguardrails
langgraph
flashrank
streamlit